.header {
    text-align: center;
    background-color: #21201F;
    color: #727271;
    height: 80px;
    padding: 20px;
}

.top-margin {
    margin-top: 20px;
}

.margin-left {
    margin-left: 5%;
}